<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="299802479018-sgto31d6na5v4ft61m0nnhn2ctdvqv2r.apps.googleusercontent.com">
    <title>Mental Healthcare Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://apis.google.com/js/platform.js"></script>
</head>
<body>
    <script>
        // gapi.load('auth2', function() {
        //         gapi.auth2.init({
        //             client_id: '299802479018-sgto31d6na5v4ft61m0nnhn2ctdvqv2r.apps.googleusercontent.com',
        //         }).then(function(auth2) {
        //             console.log('After gapi.auth2.init')
        //             gapi.signin2.render('my-signin2', {
        //                 'scope': 'profile email',
        //                 'width': 240,
        //                 'height': 50,
        //                 'longtitle': true,
        //                 'theme': 'dark',
        //                 'onsuccess': onSignIn,
        //                 'onfailure': onFailure // Define an onFailure function to handle sign-in failures.
        //             });
        //             console.log('After gapi.signin2.render')
        //         });
        //     });
        function onSignIn(googleUser) {
            alert('hello')
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

            // Update the UI with the user's name or email
            var userInfo = document.getElementById('user-info');
            userInfo.innerHTML = 'Signed in as: ' + (profile.getEmail() || profile.getName());
            alert('hi')
        }
        function onFailure(error) {
            console.log(error);
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                // Clear the user info on sign out
                var userInfo = document.getElementById('user-info');
                userInfo.innerHTML = '';
            });
        }

    </script>

    <div class="login-container">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>

    <div class="container">
        <h1>CareTalk AI</h1>
        <h2>Your AI Mental Healthcare Assistant!</h2>
        <div class="button-container">
            <a href="#" id="open-chat" class="button">Text Message</a>
            <br><br><br>
            <!-- Updated to use JavaScript for opening the voice chat modal -->
            <a href="#" id="open-voice-chat" class="button">Voice Message</a>
        </div>
    </div>

    <!-- Text Chat Modal -->
    <div id="chat-modal" class="modal" style="display:none;">
        <div id="chat-container">
            <div id="chat-header">
                <span>Text chat with Mental Healthcare Assistant</span>
                <button id="close-chat">X</button>
            </div>
            <div id="chat-box"></div>
            <div class="feedback-buttons">
                <button class="upvote">👍</button>
                <button class="downvote">👎</button>
                <br><br>
                <div id="chat-actions">
                    <button id="download-chat">Download Chat Summary</button>
                    <form id="emailForm">
                        <input type="email" id="email-input" name="email" placeholder="Enter your email" />
                        <button id="email-chat" type="submit">Email Chat Conversation</button>
                    </form>
                </div>
            </div>
            <div id="chat-input">
                <input type="text" id="user-input" placeholder="Type your message here...">
                <button id="send-btn">Send</button>
            </div>                        
        </div>
    </div>

    <!-- Voice Chat Modal -->
    <div id="voice-chat-modal" class="modal" style="display:none;">
        <div id="voice-chat-container">
            <div id="voice-chat-header">
                <span>Voice chat with Mental Healthcare Assistant</span>
                <button id="close-voice-chat">X</button>
            </div>
            <div id="voice-controls">
                <label for="voice-select">Choose AI Voice Gender:</label>
                <select id="voice-gender-select">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <button id="record-voice">Record Voice</button>
            </div>
            <div id="transcript">
            <div id="voice-avatar-container">
                <img id="voice-avatar" src='/static/man-avatar.png' alt="AI Avatar" />
                <div id="mouth-overlay"></div>
            </div>
            <div class="feedback-buttons">
                <button class="upvote">👍</button>
                <button class="downvote">👎</button>
            <br><br>
            <div id="chat-actions">
                <button id="download-voice-chat">Download Chat Summary</button>
                <form id="emailFormVoice">
                    <input type="email" id="email-input" name="email" placeholder="Enter your email" />
                    <button id="email-chat" type="submit">Email Chat Conversation</button>
                </form>
            </div>                        
            </div>
            
            </div>
        </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>




